:root {
    --c-main: red;
    --c-serwis: #28372c;
}

* {
    box-sizing: border-box;
    /*font-family: 'Nunito Sans', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.hidden {
    position: absolute;
    left: -99999px;
}

.row {
    display: flex;
}

.row .col {
    flex-grow: 1;
    margin: 0 10px;
    flex-basis: 50%;
}


.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    transition: 0.5s;
}

.page-header--sticky{
    background: #222222;
    box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}

.page-header--sticky .page-header__container {
    height: 70px;
}

.page-logo {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.page-logo__text span {
    font-weight: 900;
    color: var(--c-main);

}

.page-logo__img {
    margin-right: 6px;
}

.page-menu {
    height: 100%;
}

.page-menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.page-menu__list-el {
    height: 100%;
}

.page-menu__list-link {
    color: white;
    text-transform: uppercase;
    padding: 0 40px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    /*background: rgba(255,255,255,0.3);*/
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.page-menu__list-link:hover {
    background: rgba(255, 255, 255, 0.3);
}

.main-banner {
    height: 100vh;
    background: url("../images/Image.jpg") center top;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    min-height: 700px;

}

.main-banner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --c1: rgba(0, 0, 0, 0.3);
    --c2: rgba(0, 0, 0, 0.8);
    background: radial-gradient(var(--c1), var(--c2));
}

.main-banner__title {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 90px;
    text-transform: uppercase;
    z-index: 1;
    margin: 0;
    text-align: center;
}

.main-banner__text {
    z-index: 1;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 22px;
    color: white;
    text-align: center;

}

.main-banner__buttons {
    z-index: 1;
    margin-top: 30px
}

.main-banner__button {
    width: 220px;
    height: 80px;
    border-radius: 40px;
    border: 0;
    display: inline-flex;
    background: red;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin: 8px;
    transition: 0.3s;

}

.main-banner__button:hover {
    opacity: 0.8;
    box-shadow: 0 2px;
}

.main-banner__button1 {
    color: white;
    background: var(--c-main);
}

.main-banner__button2 {
    background: white;
    color: var(--c-main);
}

.main-banner__arrow {
    width: 55px;
    height: 55px;
    background-color: var(--c-main);
    background-image: url("../images/icon-arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}


.main-section {
    padding: 70px 0 80px;
}

.main-blog {
}

.section-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title--light {
    color: white;
}

.section-title::before,
.section-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--c-main);
    margin: 0 12px;
}


.main-blog {
}

.main-blog__box {
}

.main-blog__box-img {
    max-width: 100%;
}

.main-blog__box-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-blog__box-text {
    font-size: 14px;
    color: #6A6A6A;
    font-weight: 300;

}

.main-blog__box-link {
    border-radius: 40px;
    border: 0;
    display: inline-flex;
    background: red;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    padding: 11px 30px;
    color: white;
    transition: 0.3s;
}

.main-service {
    background: var(--c-serwis);
}

.main-service__box {
    text-align: center;
    color: white;
}

.main-service__box-img {
    max-width: 170px;
}

.main-service__box-link {
    border-radius: 40px;
    border: 0;
    display: inline-flex;
    background: red;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    padding: 11px 30px;
    color: white;
    transition: 0.3s;
}

.main-service__box-text {
    font-size: 14px;
    color: white;
    font-weight: 300;
}

.main-service__box-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-contact {
}

.main-contact__container {
}

.form-row {
    margin-bottom: 20px;
}

.form {
    padding-left: 50%;
    background-image: url("../images/form-photo.png");
    background-repeat: no-repeat;
    background-size: calc(50% - 16px);
}

.form-button {
    border-radius: 40px;
    border: 2px solid var(--c-main);
    display: inline-flex;
    background: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    padding: 11px 30px;
    color: var(--c-main);
    transition: 0.3s;
    cursor: pointer;
    width: 140px;
    height: 40px;
    box-shadow: 0 3px 6px rgba(255,0,0,0.3);
}

.form-control{
    height: 30px;
    width: 100%;
    border: 1px solid #d1d1d1;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 10px;
    border-radius: 8px;
    color: whitesmoke;
}

.form-control:focus,
.form-checkbox__input:focus{
    outline: none;
    border-color: var(--c-main);
}


.form-textarea{
    height: 140px;
    padding: 10px;
    resize: none;
}

.form-checkbox{
    display: flex;
}

.form-checkbox-label{
    color: #d1d1d1;
    font-size: 10px;
}

.form-checkbox__label{}
.form-checkbox__input{
    width: 22px;
    height: 22px;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex-shrink: 0;
    margin-right: 8px;
}

.form-checkbox__input:checked{
    background: url("../images/iIcon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.form-row--last{
    text-align: right;
}

.page-footer{
    background: #28272C;
    padding: 40px 0;
}

.page-footer__container{}

.page-footer-logo{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.page-footer-logo__text span{
    font-weight: 900;
    color: var(--c-main);
}

.page-footer-logo__img{
    margin-right: 6px;
    width: 20px;
}

.page-footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-footer-menu{}

.page-footer-menu__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;

}
.page-footer-menu__list-el{
    width: 50%;
}
.page-footer-menu__list-link{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-flex;
    padding: 5px 0;
}
.page-footer-menu__list-link:hover{
    color: var(--c-main);
}

.page-footer-copyright{
    color:#d1d1d1;
}